<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-mapping PUBLIC  
 "-//Hibernate/Hibernate Mapping DTD 5.3//EN"  
 "https://hibernate.org/dtd/hibernate-configuration-5.3.dtd">  
<hibernate-configuration>  
    <session-factory>  
        <property name="hbm2ddl.auto">update</property>  
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>  
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>  
        <property name="connection.username">postgres</property>  
        <property name="connection.password">123</property>  
        <property name="connection.driver_class">org.postgresql.Driver</property>         
        <mapping class="Tables.Account" />
        <mapping class="Tables.Address" />
        <mapping class="Tables.Customer" />
        <mapping class="Tables.Phone" />
        <mapping class="Tables.Service" />
        
    </session-factory>  
</hibernate-configuration>  